<div class="row">
    <div class="col-md-8 col-lg-8 col-xl-4">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <h5>$ <span class="spincreament">72548</span></h5>
                    <p>Total Profit</p>
                </div>
                <i class="fa fa-cubes"></i></div>
            <br>
            <div class="media">
                <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
                <span><span class="dynamicsparkline">Loading..</span> </span></div>
            <div class="row">
                <div class="progress ">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100" style="width: 70%;"><span class="trackerball"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-4">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <h5><span class="spincreament">72548</span><span class="badge badge-danger ml-2 "><i
                            class="fa fa-caret-down"></i></span></h5>
                    <p>Active Users</p>
                </div>
                <i class="fa fa-users"></i></div>
            <br>
            <div class="media">
                <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
                <span><span class="dynamicsparkline">Loading..</span> </span></div>
            <div class="row">
                <div class="progress ">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;"><span class="trackerball"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-4">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <h5><span class="spincreament">2548</span><span class="badge badge-success ml-2 "><i
                            class="fa fa-caret-up"></i></span></h5>
                    <p>New Orders</p>
                </div>
                <i class="fa fa-cart-arrow-down"></i></div>
            <br>
            <div class="media">
                <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
                <span><span class="dynamicsparkline">Loading..</span> </span></div>
            <div class="row">
                <div class="progress ">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100" style="width: 45%;"><span class="trackerball"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8 col-xl-4">
        <div class="activity-block">
            <div class="media">
                <div class="media-body">
                    <h5><span class="spincreament">1548</span></h5>
                    <p>New Comments</p>
                </div>
                <i class="fa fa-comments"></i></div>
            <br>
            <div class="media">
                <div class="media-body"><span class="progress-heading">Monthly progress</span></div>
                <span><span class="dynamicsparkline">Loading..</span> </span></div>
            <div class="row">
                <div class="progress ">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100" style="width: 80%;"><span class="trackerball"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-content ">
    <div class="container ">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-16 col-lg-8 col-xl-8">Designed by <a
                    href="http://www.maxartkiller.in" target="_blank" class="" id="dataInfoParm1">kevin & leo</a></div>
            <div class="col-md-16 col-lg-8 col-xl-8 text-right"><a href="#" target="_blank" class="">Privacy
                Policy</a> | <a href="#" target="_blank" class="">enkitek</a></div>
        </div>
    </div>
</footer>

