<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <title>华夏代练登录页面</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="vendor/bootstrap4alpha/css/bootstrap.css" type="text/css">

    <!-- Adminux CSS -->
    <link rel="stylesheet" href="css/dark_purple_adminux.css" type="text/css">
</head>
<body class="rounded menuclose menuclose-right">
<header class="navbar-fixed">
    <nav class="navbar navbar-toggleable-md sign-in-header">

        <div class="col"></div>

    </nav>
</header>
<div class="wrapper-content-sign-in ">
    <div class="container text-center">
        <h1 class="form-signin-heading text-white"><i class="fa fa-trophy"></i> 华夏代练</h1>
        <form class="form-signin1 light">
            <h2 class="tex-black mb-4">登录</h2>
            <label class="sr-only">用户名</label>
            <input type="text" class="form-control" placeholder="用户名">
            <br>
            <label class="sr-only">密码</label>
            <input type="text" class="form-control" placeholder="密码">
            <br>

            <a id="login" class="btn btn-lg btn-primary btn-round">登录</a><br>

        </form>

    </div>

</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="vendor/bootstrap4alpha/js/tether.min.js"></script>
<script src="vendor/bootstrap4alpha/js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/md5.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script>
    $("#login").on('click', function () {
        $.post("/checkuser",{username:'test',password:hex_md5('test')},function(result){
            console.log(result);
            if(result=="error")
            {
                window.location='/';
            }
            else
            {
                sessionStorage.setItem("hxdlusername","test");
                window.location='/main';
            }
        });
    })
</script>
</body>
</html>